body {
    font-family: 'Carme', sans-serif; 
}

.cardStyle{
    height: 125px;
    width: 75px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #d2d2d2;
    box-shadow: 4px 6px 10px -5px;
    display: inline-block;
    margin: 3px;
    padding: 3px;
}

.cardStyle > img{
    display: inline-block;
}

div.cardStyle span{
    font-weight: bolder;
    display: inline-block;
    font-size: 40px;
}

#tapis{
    width: 90vw;
    height: 40vh;
    background-color: darkgreen;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
}